.heading{
    font-size: 35px;
    width: 100%;
    margin:0px;
    box-shadow:5px 5px 18px black;
    padding-bottom: 200px;
    

}
.heading_div{
    float:none;
    background:white;
    border-radius: 20px;
    color:black;
    padding: 10px;
    box-shadow: 5px 5px 18px black;
    font-size: 20px;
}
.heading_div2{
    font-size: 17.5px;
    color:black;
}
.paragraph{
    box-shadow:5px 5px 18px black;
    font-size: 20px;
    margin-right: 150px;
    margin-left: 170px;
}
.copy_right_footer{
    position: fixed;
    border-color:black ;
    box-shadow: 5px 5px 18px black;
    color:white;
    bottom: 0;
    width: 60%;
    background-color: blue;
    text-align:center;
    line-height: 3;
    margin-left:250px;
}
canvas{
    border-radius:20px;
    border:5px solid white;
    box-shadow: 5px 5px 18px black;
    margin-top: 100px;
}